#Wed, 28 Aug 2013 18:26:17 -0500
app.name=kharidy

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=ab3c5ffa-68c8-438a-914b-6ece05d5c321
